<div class="<%= controller.controller_name %>"><h1>Listing lists</h1>

    <% @lists.each do |list| %>

      <h2><%= link_to "#{list.name.upcase}", list %></h2>

      <!--<p><%= link_to 'Edit', edit_list_path(list) %></p> -->
      <p><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      

    <% end %>

<br>

<%= link_to 'New List', new_list_path %>
</div>