<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @item.list_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.priority %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @item.is_complete %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', { :controller => 'lists', 
                          :action => 'show', 
                          :id => @item.list_id } %>